<!-- your html code here -->
 <!-- CeliaBP -->
<div class="d-flex justify-content-center border border-2 border-light bg-white mx-2">

    <div id="about" class="mt-2 p-4">
     <h4><strong>This first heading </strong> will catch your eye.</h4></h4>
     <p>This first heading will catch your eye. this first heading will catch your eye. <br/> first heading will catch your eye. this first heading will catch your eye.<br/>  this first heading will catch your eye. this first heading will catch your eye. <br/> this first heading will catch your eye. this first heading will catch your eye.<br/>  this first heading will catch your eye.</p>

    </div>
    <div class="m-4">
        <img class="rounded-circle w-50 " src="/website/assets/img/1.jpg">
   
    </div>
</div>