<!-- your html code here -->
 <!-- CeliaBP -->
 <div class="d-flex justify-content-center border border-2 border-light bg-white mx-2">

    <div id="services" class="m-4">
        <img class="rounded-circle w-100 " src="/website/assets/img/2.jpg">
   
    </div>
    
    <div class ="mt-2 p-4">
        <h4><strong>The second heading </strong> is pretty cool to.</h4></h4>
        <p>This first heading will catch your eye. this first heading will catch your eye. <br/> first heading will catch your eye. this first heading will catch your eye.<br/>  this first heading will catch your eye. this first heading will catch your eye. <br/> this first heading will catch your eye. this first heading will catch your eye.<br/>  this first heading will catch your eye.</p>
   
    </div>

</div>